@model ProfileViewModel

@section Styles
{
    <link rel="stylesheet" href="~/css/account_details.css" asp-append-version="true" />
}

<div class="container rounded mt-5 mb-5">
    <div class="row">
        <div class="col-md-6">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5">
                <img class="rounded-circle mt-5" width="128"
                     src="@($"data:image/png;base64,{Convert.ToBase64String(Model.AvatarData)}")" alt="No avatar" />
                <span class="text-white">First name - @Model.FirstName</span>
                <span class="text-white">Last name - @Model.LastName</span>
                <span class="text-white-50">Email - @Model.Email</span>
                <span class="text-white-50">Join date - @Model.JoinDate</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-white-50">Profile Settings</h4>
                </div>
                <div class="row mt-3">
                    <a asp-controller="Account" asp-action="Update">Update profile</a>
                </div>
            </div>
        </div>
    </div>
</div>