@model ConstructorViewModel


@*<div class="container">
    <div class="row">
        <div class="col-8">
            @{
                var i = 0;
            }
            @foreach (var component in Model.ComponentsByCategories)
            {
                <div class="row">
                    <p>@component.Key</p>
                    @foreach (var componentImagePath in component)
                    {
                        <div class="col dragging" draggable="true">
                            <svg style="position: relative;"
                                 width="100px" height="100px">
                                <image class="@component.Key"
                                       style="position: absolute; transform: translate(0px, 0px) scale(1, 1)"
                                       width="100px" height="100px"
                                       href="@componentImagePath"
                                       orderInLayer="@i"/>
                            </svg>
                        </div>
                    }
                </div>
                i++;
            }
        </div>
        <div class="col-4">
            <div style="background:#FFE4C4; height: 500px">
                <svg class="drop-area" style="position: relative" width="100%" height="100%"></svg>
            </div>
            <input type="text" id="test-text"/>
            <input type="submit" id="createNew" value="Create new" />
        </div>
    </div>
</div>*@


<section>
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-lg-12 mb-4 mb-lg-0">
                <div class="card mb-3 bg-dark">
                    <div class="row g-0">
                        <div class="col-md-8 bg-gradient text-center text-white">
                            @{
                                var i = 0;
                            }
                            @foreach (var component in Model.ComponentsByCategories)
                            {
                                <div class="row mt-3">
                                    <p>@component.Key</p>
                                    @foreach (var componentImagePath in component)
                                    {
                                        <div class="col dragging" draggable="true">
                                            <svg style="position: relative;"
                                                 width="100px" height="100px">
                                                <image class="@component.Key"
                                                       style="position: absolute; transform: translate(0px, 0px) scale(1, 1)"
                                                       width="100px" height="100px"
                                                       href="@componentImagePath"
                                                       orderInLayer="@i"/>
                                            </svg>
                                        </div>
                                    }
                                </div>
                                i++;
                            }
                        </div>
                        <div class="col-md-4 align-content-center justify-content-center">
                            <svg class="drop-area" style="position: relative; background: wheat"
                                 width="100%"
                                 height="auto"></svg>
                            
                        </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                        <div class="col-6 text-center">
                            <input type="text" class="form-control-lg" id="innogotchi_name" placeholder="Enter innogotchi name" />
                            <input type="submit" class="btn-lg btn-info" id="createNew" value="Create new"  />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts
{
    <script src="~/js/constructor.js" asp-append-version="true"></script>
}
<link rel="stylesheet" href="~/css/constructor.css" asp-append-version="true" />