@model IList<PreviewFarmViewModel>

<h3 class="text-white text-center pt-3">Collaborated farms</h3>
@foreach (var farmModel in Model)
{
    <div class="card bg-dark mt-4 text-center" style="width: 18rem;">
        <div class="card-header">
            <img class="rounded-circle"
                 width="100"
                 src="@($"data:image/png;base64,{Convert.ToBase64String(farmModel.OwnerAvatarData)}")"
                 alt="No avatar"/>
        </div>

        <div class="card-body text-white">
            <h5 class="card-title">@farmModel.Name</h5>
            <h6 class="card-text">@(farmModel.FirstName) @(farmModel.LastName)</h6>
            <h6 class="card-text">@(farmModel.Email)</h6>
            <a asp-controller="Farms" asp-action="View" asp-route-profileId="@farmModel.ProfileId"
               class="btn btn-outline-info mt-2">Go to farm</a>
        </div>
    </div>
}